:root {
    --black: #1A1A1D;
    --grey: #4e4e50;
    --maroon: #6F2232;
    --chery: #950740;
    --red: #C3073F;
}
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: #121213;
    box-shadow: 0.2px 0.2px 3px rgb(50, 50, 50);
    margin-bottom: -3px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.head{
    margin-top: 4rem;
    background-color: var(--black);
    box-sizing: border-box;
    padding: 0px 10px;
}
.nav .opt{
    color: white;
}
.nav .opt ul{
    /* border: 1px solid white; */
    list-style: none;
    display: flex;
    align-items: center;
}
.nav .opt li{
    padding: 0px 18px;
    cursor: pointer;
    transition: .1s linear;
    /* border: 1px solid red; */
}
.opt ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;

}
.head .nav{
    transition: .3s linear;
}
.title{
    color: white;
    padding: 3px 20px;
}
.title h1{
    padding-top: 23px;
    padding-bottom: -1px;
    font-size: 8rem;
    color:#fa155a;   
    font-family: 'Zen Dots', cursive;
    /* border: 1px solid red; */
}
.title span{
    color:aliceblue;
    font-size: 4rem;
}
.title .t1{
    position: relative;
    top:-1.3rem;
    left:0px;
    font:15px;
    color:#d4d4d7;
}
.nav .opt ul li a:hover{
    color:#b6053a;
}
.active{
    background-color:#41131c;
    border-radius: 2rem;
    padding: 2px 8px;
}
.title .oop1{
    color:#fa155a;
    font-size: 2.6rem;
    padding: 10px 0px;
    font-family: 'Zen Dots', cursive;
}
.title .cont{
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 15px 0px;
}
.cont .l1{
}
.FOJ1{
    height: 30rem;
    width: 40rem;
    margin: 20px;
}
.option{
    /* border: 1px solid white; */
    color: aliceblue;
    padding: 3rem;
}
.unitgrp{
    /* border: 1px solid #C3073F; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
.unit{
    border: 3px solid #fa155a;
    border-radius: 0.5rem;
    width: 7.6rem;
    height: 2.6rem;
    font-size: 1.7rem;
    line-height: 2.5rem;
    text-align: center;
    padding: 1rem 2rem;
    margin: 1rem;
    font-family: 'Zen Dots', cursive;
    background:transparent;
    cursor: pointer;
    transition: 0.2s linear;
}
.unit:hover{
    box-shadow: inset 11.6rem 0 0 0 #fa155a, 4px 2px 1px #656569;
    color: black;
    font-weight: bold;
}
.dsaback{
    background: url("best-data-structures-algorithms-courses.png");
    /* background-size:cover ; */
}
@media screen and (max-width:800px) {
    *{
        font-size: 13px;
    }
}

@media screen and (max-width:400px) {
    *{
        font-size: 9px;
    }
    .FOJ1{
        height: 15rem;
        width: 20rem;
        margin: 20px;
    }
    
}



  
